.get-form{
	text-align: center;
}

#search-submit-button{
	vertical-align: middle;
	padding: 5px;
}

#s-button{
	height: 100%;
	margin:auto;
	text-align: center;
}

#s-button i{
	margin:auto;
	text-align: center;
}

.buscador{
	position: relative;
	width: 100%;
	margin: 20px;
}

#cuerpo-central{
	display: inline-block;
	margin:auto;
	text-align: center
}

#search_form{
	width: 100%
}