<h1>busquedas</h1>
<ul>
    {% for busqueda in object_list %}
    <li>{{ busqueda.nombre }}  :
    <a href="{% url "busqueda_edit" pk=busqueda.pk %}">Editar</a>
    <a href="{% url "busqueda_delete" pk=busqueda.pk %}">Borrar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "busqueda_new" %}">Añadir busqueda</a>