{% extends "base.html" %}
{% load staticfiles %}
{% load imagekit %}

{% block head_title %}Resultados de búsqueda de propiedades | María José Durán {% endblock %}



{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/principal.min.css' %}">
{% endblock %}


{% block content %}

 <div class="ui container">
{% include 'search_propiedad_form.html' %}

        <h2>Resultado de búsqueda</h2>
        <div class="ui container">
            <div class="ui link special cards">
            {% for object in object_list %}
            {% include 'principal/card_busqueda.html' %}

            {% endfor %}
            </div>
            
       </div>
       </div>


{% endblock %}



{% block footer_javascript %}
        {{form.media}}

<script type="text/javascript">
$(document).ready(function(){
   var buscador = $('.buscador-top');
   $('.base-header').append(buscador);
});
</script>


{% endblock %}