{% extends "base.html" %}
{% load staticfiles %}

  {% block content %}
  <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
  </form>
  {% endblock %}

{% block footer_javascript %}
       {{ form.media }}
      <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
{% endblock %}
