{% load staticfiles %}
{% load imagekit %}

  <div class="card">

    <a href="{% url 'propiedad:propiedad_detail' object.pk %}">
    <div class=" blurring dimmable image">

        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Ver Propiedad</div>
            </div>
          </div>
        </div>


        {% for img in object.imagen_propiedad.all %}
            {% if img.principal %}
                {% generateimage 'mjd:thumbnail' source=img.imagen %}
            {% endif %}
        {% endfor %}
    </div>
  </a>
    <div class="content">
      <div class="header">{{object.nombre}}</div>
      <div class="meta">
        <a>{{object.get_tipo_propiedad}}</a>
      </div>
      <div class="description">
        {{ object.descripcion | truncatewords_html:50 |safe}}
      </div>
    </div>
    <div class="extra content">

          <div class="resultado-footer">
              <ul class="list-unstyled">
                  <li class="precio">
                      {% for precio in object.precio_propiedad.all %}
                          <span class="moneda">
                              {{ precio.get_moneda_display }}
                          </span>
                          <span class="valor">
                              {{ precio.cantidad }}
                          </span>
                      {% endfor %}
                  </li>

                  <li class="localizacion">
                      <p >
                          <span class="ubicacion">{{ object.localizacion.direccion }}</span>, <span class="comuna">{{ object.localizacion.comuna.nombre }}</span>
                      </p>
                  </li>
              </ul> 
          </div>


    </div>
  </div>



<script type="text/javascript">
    $('.special.cards .image').dimmer({
  on: 'hover'
});    
</script>