<h1>Configuraciones</h1>
<ul>
    {% for configuracion in object_list %}
    <li>{{ configuracion.nombre }}:
    <a href="{% url "conf_home_edit" pk=configuracion.pk %}">Editar</a>
    <a href="{% url "conf_home_delete" pk=configuracion.pk %}">Borrar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "conf_home_new" %}">Añadir Configuración de Home</a>