
{% extends "base.html" %}
{% load imagekit %}

{% load static %}

<!--context functions-->
{% block head_title %}¡Bienvenidos a María José Durán! | Corretaje de Propiedades{% endblock %}

<!--context functions-->

{% block head_css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/principal.min.css' %}">
<link rel="stylesheet" href="{% static 'glide/css/glide.core.min.css' %}">
    <link rel="stylesheet" href="{% static 'glide/css/glide.theme.min.css' %}">
{% endblock %}

{% block buscador %}

      <div class="buscador-general ui container">

            <div id="search_image" class="row">

                <div id="Glide" class="glide">

                <div class="glide__arrows">
                    <button class="glide__arrow prev" data-glide-dir="<">prev</button>
                    <button class="glide__arrow next" data-glide-dir=">">next</button>
                </div>

                <div class="glide__wrapper">
                    <ul class="glide__track">
                                {% for img in conf.set_images.home_images.all %}
                                        <li class="glide__slide">{% generateimage 'mjd:principal' source=img.imagen  %}</li>
                                {% endfor %}
                    </ul>
                </div>

                <div class="glide__bullets"></div>

            </div>
                    
            </div>
            <div class="presentacion row">
            <h2>
                <span class="buscador-titulo">
                    La propiedad que buscas está aquí
                </span>
            </h2>
        </div>


        <div class="{{ conf.slug_nombre }} row">
        {% include 'search_propiedad_form.html' %}
        </div>


</div>

{% endblock buscador %}



{% block content %}

        <div id="cuerpo-central" class="ui container content">
<div class="ui container">
 
            {%  if conf.mostrar_destacados %}
                <div id="destacados-propiedades" class="{{ conf.clase_css_propiedades_destacadas_home }} ui container">
                    {% include "destacados.html" %}
                </div>
            {% endif %}

            {% if conf.mostrar_ultimas_propiedades %}
            <!-- Mostrar las últimas propieedades--> 
                <div id="ultimas-propiedades" class="{{ conf.clase_css_propiedades_home }}  ui container">
                    {% include "principal/ultimas_propiedades.html" %}
                </div>            
            {% endif %}
            {% if conf.activar_blog %}

            {% endif %}
        </div>

        <div class=""></div>

</div>

{% endblock %}

{% block propiedad %}


{% endblock %}

{% block footer_javascript %}
        {{block.super}}
        {{form.media}}

        <script src="{% static 'glide/glide.min.js' %}"></script>

<script>
    $("#Glide").glide({
        type: "carousel"
    });
</script>

{% endblock %}


</div>


