{% load imagekit %}

<div class="container">
{% for propiedad in ultimas_propiedades %}

    <tr class="{% cycle 'prop1' 'prop2' %}">
            <div class="col-sm-3">
                    <article class="propiedadd sombraredondeada">
                        <div class="oferta">
                            <div class="imagen-propiedad">
                                {% for img in propiedad.imagen_propiedad.all %}
                                    {% if img.principal %}
                                        {% generateimage 'mjd:thumbnail' source=img.imagen %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <ul class="detalle list-unstyled">
                                <li class="precio">
                                    {% for precio in propiedad.precio_propiedad.all %}
                                        <span class="moneda">
                                            {{ precio.get_moneda_display }}
                                        </span>
                                        <span class="valor">
                                            {{ precio.cantidad }}
                                        </span>
                                    {% endfor %}
                                </li>
                                <li class="localizacion">
                                    <span class="ubicacion">
                                        {{ propiedad.localizacion.direccion }}
                                    </span><br>
                                    <span class="comuna">
                                       <i class="fa fa-map-marker"></i> {{ propiedad.localizacion.comuna.nombre }}
                                    </span>
                                </li>
                            </ul>

                                <p class="boton-a-propiedad">
                                            <a href="{% url 'propiedad_detail' propiedad.pk %}">
                                               <span>
                                                    Ver Propiedad
                                                </span>
                                            </a>
                                </p>
                            
                        </div>

                    </article>
                </div>

    </tr>
{% endfor %}
</div>