{% extends "base.html" %}
{% load staticfiles %}
{% load formset_tags %}


{% block head_javascript %}
{{ formset.media }}
{% endblock %}

{% block content %}
    <script type="text/html" id="item-template">
        <div id="item-__prefix__">
            {{ homeimage_formset.empty_form }}
        </div>
    </script>

    <p>Añadir Set de Imagenes</p>
    <div id="formset" data-formset-prefix="{{ form.prefix }}">
        {{ form.management_form }}
         <div id="items-form-container">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}

                <legend>Imagenes</legend>
                {{ homeimage_formset.management_form }}
                {{ homeimage_formset.non_form_errors }}
                {% for form in homeimage_formset %}
                    <div id="item-{{ forloop.counter0 }}">
                        {{ form.id }}
                        {{ form.as_p }}
                        {# <!-- or for crispy forms --> {% crispy item_form %} #}
                    </div>
                {% endfor %}

            </div>

         <div class="form-actions">
            <a href="#" id="add-item-button" class="btn btn-info add-item">Add Imagen</a>
            <input type="submit" value="Crear set de Imagenes" />
         </div>
        </form>
    </div>
{% endblock %}


{% block footer_javascript %}
       {{ form.media }}
    <script>
$(document).ready(function() {
    $('.add-item').click(function(ev) {
        ev.preventDefault();
        console.log("Agregando form de imagen")
        var count = $('#items-form-container').children().length;
        console.log("Agregando form de imagen:  count " + count);
        var tmplMarkup = $('#item-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#items-form-container').append(compiledTmpl);

        // update form count
        $('#id_item_items-TOTAL_FORMS').attr('value', count+1);

        // some animate to scroll to view our new form
        $('html, body').animate({
                scrollTop: $("#add-item-button").position().top-200
            }, 800);
    });
});
</script>
{% endblock %}
