<h1>Set Imágenes para HomePage</h1>
<ul>
    {% for setimageshome in object_list %}
    <li>{{ setimageshome.nombre }}  :
    <a href="{% url "setimageshome_edit" pk=setimageshome.pk %}">Editar</a>
    <a href="{% url "setimageshome_delete" pk=setimageshome.pk %}">Borrar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "setimageshome_new" %}">Añadir nuevo set</a>