<h1>Arquitectos</h1>
<ul>
    {% for arquitecto in object_list %}
    <li>{{ arquitecto.nombre }}  :
    <a href="{% url "arquitecto_edit" pk=arquitecto.pk %}">Editar</a>
    <a href="{% url "arquitecto_delete" pk=arquitecto.pk %}">Borrar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "arquitecto_new" %}">Añadir arquitecto</a>