{% extends "base.html" %}
{% load staticfiles %}
{% load imagekit %}
{% load social_share %}

{% block head_title %}
{{ object.nombre | safe }}| María José Durán, Corretaje de  Propiedades 
{% endblock %}


{% block buscador %}
{% include 'search_propiedad_form.html' %}
{% endblock buscador %}


{% block head_css %}
{{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/principal.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/propiedad.min.css' %}">
    <link rel="stylesheet" href="{% static 'glide/css/glide.core.min.css' %}">
    <link rel="stylesheet" href="{% static 'glide/css/glide.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/ol3/ol.css' %}" >
{% endblock %}


{% block content %}
<div class="ui container">
                                <div class="nombre-propiedad">
                                    <h1>{{ object.nombre | safe }} </h1>
                                </div>
    </div>

<div class="ui  stackable two column grid container">
  <div class="six wide column">

    <div id="img_propiedades">
        <div id="Glide" class="glide">

            <div class="glide__arrows">
                <button class="glide__arrow prev" data-glide-dir="<">prev</button>
                <button class="glide__arrow next" data-glide-dir=">">next</button>
            </div>

            <div class="glide__wrapper">
                <ul class="glide__track">
                        {% for img in object.imagen_propiedad.all %}
                                    <li class="glide__slide">{% generateimage 'mjd:propiedad' source=img.imagen  %}</li>
                        {% endfor %}
                </ul>
            </div>

            <div class="glide__bullets"></div>

        </div>
    </div>
      




                            <ul class="pdetalle-ubicacion list-unstyled">

                                <li class="caracter-propiedad">
                                    <span>{{ object.get_caracter_display  }}</span>
                                </li>
                                <li class="tipo_propiedad">
                                    <span>{{ object.get_tipo_propiedad_display | safe  }}</span>
                                </li>
                                <li class="localizacion">
                                    <span class="ubicacion">
                                        Calle: {{ propiedad.localizacion.direccion }}
                                    </span>
                                    <span class="comuna">
                                        Comuna: {{ propiedad.localizacion.comuna.nombre }}
                                    </span>
                                </li>
                            </ul>



                            <ul class="pdetalle-caracteristicas list-unstyled sombraredondeada">
                                <!--<li class="col-sm-3 telefono">{{ object.telefono | safe  }}</li>-->
                                <li class="col-sm-4 cant-cuartos ">  
                                    <span><i class="fa fa-check-circle"></i> Cuartos:</span> 
                                    {{ object.cantidad_dormitorios | safe  }}
                                </li>
                                <li class="col-sm-4 baños "> 
                                    <span><i class="fa fa-check-circle"></i>  Baños:</span> 
                                    {{ object.cantidad_baños | safe  }}
                                </li>
                                <li class="col-sm-4 area-construida ">
                                    <span><i class="fa fa-check-circle"></i>  Área construida: </span>
                                    <span>{{ object.area | safe  }}</span>
                                </li>
                                
                               <!-- <li class="col-sm-3 aspectos-destacables ">{{ object.aspectos_destacables | safe  }}</li>-->
                                <!--<li class="col-sm-4 fecha_entrega">{{ object.fecha_entrega | safe  }}</li>-->
                                <li class="col-sm-4 propietario">
                                    <span><i class="fa fa-check-circle"></i>  Propietario:</span> 
                                    <span>{{ object.propietario | safe  }}</span>
                                </li>
                                <li class="col-sm-4 arquitecto ">
                                    <span><i class="fa fa-check-circle"></i>  Arquitecto: </span>
                                    <span>{{ object.arquitecto | safe  }}</span>
                                </li>
                            </ul>




                            <div id="social-share ui grid">
                                <div class="four wide column">
                                  <i class="facebook icon"></i>

                                {% post_to_facebook object.get_absolute_url "Te invito a ver esta propiedad, te interesará!" %}</div>
                                <div class="four wide column">
                              <i class="google plus icon"></i>

                                {% post_to_gplus object.get_absolute_url "Te invito a ver esta propiedad, te interesará!" %}</div>
                                <div class="four wide column">
                              <i class="twitter icon"></i>

                                {% post_to_twitter "Revisa esta interesante propiedad!" object.get_absolute_url "Propiedad inmobiliaria" %}</div>
                                <div class="four wide column">
                              <i class="linkedin icon"></i>

                                {% post_to_linkedin "Interesante Propiedad!" object.get_absolute_url "Propiedad inmobiliaria" %}</div>

                            </div>
                        </div>

  <div class="ten wide column">

        <div id="precio">
               <h2> Precio:
                {% for precio in object.precio_propiedad.all %}
                    <span class="moneda">
                        {{ precio.get_moneda_display }}
                    </span>
                    <span class="valor">
                        {{ precio.cantidad }}
                    </span>
                {% endfor %}
                </h2>
        </div>

        <div id="map" class="mapa">
            <div class="geocode">
                <p>Latitude: <div id="lat" >{{ object.localizacion.geo_point.y | safe }}</div></p>
                <p>Longitude:<div id="lon" >{{ object.localizacion.geo_point.x | safe }}</div> </p>
            </div>
         </div>

        <div class="row">
            <div class="descripcion">{{ object.descripcion | safe  }}</div>
        </div>


  </div>

</div>

{% endblock %}



{% block footer_javascript %}
        {{block.super}}
        {{form.media}}

        <script src="{% static 'glide/glide.min.js' %}"></script>
    <script src="{% static 'js/ol3/ol.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/chosen/chosen.jquery.js' %}" type="text/javascript"></script>

<script>
var map;
var view;
var this_layer = [
    new ol.layer.Tile({
        preload: 4,
        source: new ol.source.OSM(),
    })
]

var lat = parseFloat(document.getElementById("lat").textContent);
var lon = parseFloat(document.getElementById("lon").textContent);

var geolocale = ol.proj.fromLonLat([lon,lat]);

var iconFeature = new ol.Feature({
  geometry: new ol.geom.Point(geolocale),
  name: 'Null Island',
  population: 4000,
  rainfall: 500
});


var iconStyle = new ol.style.Style({
  image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
    anchor: [0.5, 46],
    anchorXUnits: 'fraction',
    anchorYUnits: 'pixels',
    opacity: 0.75,
    src: "{% static 'data/icon.png' %}"
  }))
});

iconFeature.setStyle(iconStyle);

var vectorSource = new ol.source.Vector({
  features: [iconFeature]
});

var vectorLayer = new ol.layer.Vector({
  source: vectorSource
});

function inicializar( ){
    console.log(geolocale)
    view = new ol.View({
    // the view's initial state
    center: geolocale,
    zoom: 12
  });/*

    map = new ol.Map({
        layers : vectorLayer,
        loadTilesWhileAnimating : true,
        target: document.getElementById('map'),
        view: view,
    })*/


      var rasterLayer = new ol.layer.Tile({
        source: new ol.source.TileJSON({
          url: 'https://api.tiles.mapbox.com/v3/mapbox.geography-class.json?secure',
          crossOrigin: ''
        })
      });
      var tileLayer=new ol.layer.Tile({
            source: new ol.source.OSM()
        })

      var map = new ol.Map({
        layers: [
            tileLayer, 
            vectorLayer],
        target: document.getElementById('map'),
        view: view
      });

}

inicializar();

</script>

<script>
    $("#Glide").glide({
        type: "carousel"
    });
</script>

{% endblock %}
