{% extends "base.html" %}
{% load staticfiles %}

{% block head_css %}

<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
<form enctype="multipart/form-data">{% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input type="submit" value="Guardar" />
</form>
{% endblock %}




{% block footer_javascript %}
    {{ form.media }}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}