{% extends "base.html" %}
{% load static %}

{% block head_title %}¡Bienvenidos a María José Durán! | Últimas Propiedades{% endblock %}

<h1>Propiedades</h1>

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/principal.min.css' %}">
{% endblock %}

{% load imagekit %}

{% block content %}
    <div class="ui grid">
        <div class="two wide column"></div>

        <div id="cuerpo-central" class="col-sm-12" style="margin-top:40px;">
          
<div class="container">

        <div class="ui container">
            <div class="ui link special cards">
            {% for object in object_list %}
            {% include 'principal/card_busqueda.html' %}

            {% endfor %}
            </div>
            
       </div>

       {% include 'snippets/paginate.html' %}

</div>

        </div>
    </div>
    
{% block footer_javascript %}
        {{form.media}}
    {% endblock %}
    
    {% endblock %}
