{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<form method="post">{% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}



{% block footer_javascript %}
       {{ form.media }}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}
