<h1>Propietarios</h1>
<ul>
    {% for propietario in object_list %}
    <li>{{ propietario.nombre }}  :
    <a href="{% url "propietario_edit" pk=propietario.pk %}">Editar</a>
    <a href="{% url "propietario_delete" pk=propietario.pk %}">Borrar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "propietario_new" %}">Nuevo propietario</a>