.boton-contacto {
  float: right; }

h2 {
  text-align: center; }

.form {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%; }

.data-contacto{
	background-color: black;
	text-decoration-color: white;
	color:wheat;
}

.data-contacto{
  position: relative;
  margin-top: 20px;  
}