/*MJD CSS
Autor: Cristopher Munoz Sanchez
Web: consultorweb.cl
*/

/*OTROS*/
.bg{
    background: url("../site/buscador.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.central-content{
		overflow: hidden;
	}
.centrardiv{
	float: none;
	margin:0 auto;
	overflow: hidden;
}
.carousel-control{
	top: 50%;
}

ul.select2-selection__rendered{
	border:0 !important;
}


/*BASE HEADER*/
a{
	color:#ce6362;
}
a:hover{
	color: #aa4d4c;
	text-decoration: none;
}
a:focus{
	color: #aa4d4c;
}

/*TOP*/
	.base-header .base-navbar{
		background:#fff;
	}
	.base-top{
			
	}
		


	.base-logo{
		max-width: 110px;
	    border-bottom-left-radius: 4px;
	    border-bottom-right-radius: 4px;
	}
		.base-logotipo{
			margin: 0;
		}

	.base-top p{
		display: inline-block;
	}
.base-logo-index{

}

.select2-selection__rendered:focus{
	border:0 !important;
}
.sombraredondeada{
	background: #fafafa;
    border-bottom: 2px solid #d8d8d8;
    border-radius: 8px;
    overflow: hidden;
}
.redondeado{
	border-radius: 8px;
}
/*BUSCADOR*/

	.buscador-top-fixed{
		 position: fixed;
	    width: 100%;
	    z-index: 100;
	    top: 0;
	}

	.buscador-top{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,222222+99 */
background: #333333; /* Old browsers */
background: -moz-linear-gradient(top,  #333333 0%, #222222 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #333333 0%,#222222 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #333333 0%,#222222 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	

    border-bottom: 2px solid #111;
	}
		.buscador-top select{
			border:0;
		}
		.buscador-top input{
			border:0;
		}
			.buscador-top-label{
				
				padding-top: 10px;
			}
				.buscador-top-label label{
					color: #fff !important;
				} 
	.buscador #buscador-general{

	}
	.buscador select{
		border:0 !important;
	}

		.buscador #buscador-general label{
			color: #fff;
			display: block;
		}

		.buscador #buscador-general h2{
			text-align: center;
		}
		.buscador #buscador-general h4{
			text-align: center;
		}
	.buscador #buscador-general .buscador-titulo{
		text-shadow: 0 1px 1px #000,0 1px 10px rgba(0,0,0,0.8);
	    color: #fff;
	    font-size: 50px;
	    font-weight: 500;
	}
	.buscador #buscador-general .buscador-subtitulo{
		text-shadow: 0 1px 1px #000,0 1px 10px rgba(0,0,0,0.8);
	    color: #fff;
	    font-size: 30px;
	       font-weight: 500;
	}
	.buscador #buscador-general .buscador-form{
		margin-top: 30px;
    	padding:10px 20px 0px 20px;
	}
		.buscador-franja{
			margin: 0 auto;
		   background: rgba(178, 62, 60, 0.8);
		    padding: 10px 20px;
		    width: 90%;
		    border-radius: 6px;
		}
			.btn-buscador{
				width: 100%;
			    margin-top: 21px;
			    height: 37px;
			}



		.botones-home a{
				    color: #666;
    padding: 10px 60px 0px 0;
		}

/*BOTONES*/
.btn-primary{
	color: #fff;
    background-color: #ce6362;
    border-color: #cc605f;
    border-radius: 2px;
}
.btn-primary:hover{
	background-color: #ce6362;
    border-color: #853d3c;
}
.btn-primary:active{
	background-color: #ce6362;
    border-color: #853d3c;
}
.btn-primary:focus{
	background-color: #ce6362;
    border-color: #853d3c;
}
	.btn-large{
		font-size: 15px;
		font-weight: 400;
	}


/*CENTRAl*/
#cuerpo-central{

}
.central-content h2{
   text-align: center;
    font-size: 26px;
    height: 50px;
    color: #444;
    font-weight: 600;
}
.central-content{
	background: #e5e5e5;

}
	
	.propiedadd{
   		border-radius: 4px;
    	margin-bottom: 20px;
    	    max-width: 300px;
	}

	.propiedadd{

	}

	.imagen-propiedad img{
		width: 100%;
		
	}
			.propiedadd .detalle{
				    background: #fff;
			    padding-top: 20px;
			    margin-bottom: 0;
			    padding-bottom: 20px;
			}
				.propiedad .detalle li{
					line-height: 25px;
				}
				.nombre-propiedad{
					font-weight: 600;

				}
					 .precio{
						font-size: 18px;
					}
						.moneda, .valor{
							 color: #af3d3d;
						}
					.boton-a-propiedad{
						line-height: 30px;
						margin-bottom: 0;
   						 background: #f3f3f3;
					}
						.boton-a-propiedad span{
							font-size: 14px;
   						 font-weight: 600;
						}

/*PROPIEDAD DETALLE*/
.pdetalle{
	margin: 20px 0;
}
	.pdetalle-bg{
		background: #fafafa;
	    padding: 20px 0;
	}
	.pdetalle-dir{
			background: #fff;
			border: 1px solid #f1f1f1;
			max-width: 300px;
			margin-top: 20px;
	}
		.pdetalle-ubicacion{
			font-size: 14px;
		}
			.pdetalle-ubicacion{
				padding: 10px;

			}
			.pdetalle-ubicacion li{
				
			}
				.pdetalle-ubicacion span{
					  color: #555;
    				font-size: 14px;
				}
			.pdetalle-imagenes{
				max-width: 300px;
			}
				.pdetalle-imagenes img{
					border-radius: 8px;
				}
				.pdetalle-caracteristicas i.fa{
					color:#ce6362;
				}

	.pdetalle .mapa{
		width: 100%;
		height:260px;
	}
	.pdetalle .geocode{
		display: none;
	}
	.pdetalle-caracteristicas{
		border:0;
		margin:20px 0;
		background: #fff;
		padding:20px;
		overflow: hidden;
		 border: 1px solid #f1f1f1;
	}
		.pdetalle-caracteristicas span{
			font-weight: 500;
			font-size: 14px;
			color: #555;
		}

		.pdetalle-caracteristicas li{
			
		}
		.pdetalle-caracteristicas p{
			text-align: center;
			font-size: 14px;
		}
			.descripcion p{
				text-align: justify;
				font-size: 14px;
			}
			.social-share{
				padding: 0;
			}	
				.social-share li{
					display: block;
				}
					.social-share li div{
						display: inline-block;
					}
						.social-share span{
							font-weight: 600;
						}
						.social-share i.fa-facebook-square{
							color: #3b5998;
						}
						.social-share i.fa-twitter-square{
							color: #33add6;
						}
						.social-share i.fa-plus-square{
							color: #db4437;
						}

/*PAGINAS DE EMPRESA*/
.pagina-empresa{
	padding: 40px 0 70px 0;
}
	.pagina-empresa p{
		text-align: justify;
	}
	.pagina-empresa img{
		width: 100%;
	}

/*RESULTADO BÚSQUEDA*/
.resultado-propiedad{
	    padding: 20px;
    margin: 0 0 20px 0;
	
}
	.imagen-propiedad img{
		width: 100%;
   		 height: 150px;
   		
	}
	.resultado-propiedad p{
		  color: #222;
    	text-align: justify;
	}
		.resultado-footer ul{
 			
		}

		.btn-detalle{
			 background: #fff;
		    padding: 10px 20px;
		    border: 1px solid #f2f2f2;
		}
/*FOOTER*/
footer {
	    background: #222;
    padding: 21px 0;
}
footer .data-contacto{
	text-align: center;
}
footer .data-contacto span{
	color: #c0c0c0;

}

/*CONTACTO*/
.contacto{
	background: #f2f2f2;
	padding: 20px;
}
	.contacto button{
		width: 100%;
		margin-top: 10px;
	}	