

@media(max-width: 680px){

/*BASE HEADER*/
	.base-top .botones-home{
			text-align: center;
		}
	.base-top{
		text-align: center;
	}
	.base-logotipo{
		text-align: center;
	}
	.base-contacto{
		text-align: center;
	}
	.buscador #buscador-general label{
		margin-top: 10px;
	}
		.ubicacion  span{
			width:100% !important;
		}
		.ubicacion  li input{
			width: 100% !important;
		}
/*BUSCADOR INTERNO*/
	.buscador-top{
		margin: 0 20px;
		padding: 20px;
	}
		.pdetalle-imagenes{
			margin: 0 auto;
		}
		.pdetalle-dir{
			margin: 0 auto;
		}
			.pdetalle .mapa{
				width: 300px !important;
				margin: 30px auto;
			}

		.pdetalle-caracteristicas{
			width: 300px !important;
			margin: 10px auto 30px auto;
		}


	
}
@media(min-width: 680px){
	.base-contacto{
		text-align: right;
	}
	.bg{
		    background-position-y: -160px !important; 
	}
	.base-top .botones-home{
			    margin-top: 25px;
	}

}

@media(min-width: 681px) and (max-width:991px){

/*BUSCADOR INTERNO*/
	.buscador-top{
		margin: 0 20px;
		padding: 20px;
	}
		.pdetalle-imagenes{
			margin: 0 auto;
		}
		.pdetalle-dir{
			margin: 0 auto;
		}
			

}



@media(max-width: 991px){
	.ubicacion  span{
			width:100% !important;
		}
		.ubicacion  li input{
			width: 100% !important;
		}

}
	
@media(min-width:769px){
	.bg{
		 height: 100% !important;
		 min-height: 700px;
	}
}

