{% load imagekit %}
{% load static %}

{% if propiedades_destacadas %}
<div class="destacadas">

    <h1>Propiedades Destacadas:</h1>
        <link rel="stylesheet" type="text/css" href="{% static 'css/destacadas.css' %}">

<div class="ui special cards">
{% for destacada in propiedades_destacadas %}
        <div class="propiedad-destacada card">
            <a href="{% url 'propiedad:propiedad_detail' destacada.propiedad.pk %}">
                <div class="imagen-propiedad-destacada blurring dimmable image">                    
                      
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
                            <div class="ui inverted button">Ver Propiedad</div>
                          </div>
                        </div>
                      </div>

                    {% for img in destacada.propiedad.imagen_propiedad.all %}
                        {% if img.principal %}
                            {% generateimage 'mjd:destacada' source=img.imagen  %}
                        {% endif %}
                    {% endfor %}
            </div>
            </a>

                <div class="content">
                                <div class="oferta">

                <div class="precio">
                    {% for precio in destacada.propiedad.precio_propiedad.all %}
                        <div class="moneda">
                            {{ precio.get_moneda_display }}
                        </div>
                        <div class="valor">
                            {{ precio.cantidad }}
                        </div>
                    {% endfor %}
                </div>
            <div class="localizacion">
                <div class="ubicacion">
                    {{ destacada.propiedad.localizacion.direccion }}
                </div>
                <div class="comuna">
                    {{ destacada.propiedad.localizacion.comuna.nombre }}
                </div>
            </div>
            </div>


        </div>
    </div>
{% endfor %}
</div>
{% endif %}
<script type="text/javascript">
    $('.special.cards .image').dimmer({
  on: 'hover'
});    
</script>