{% load static %}
{% load imagekit %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<section class="buscador">   

                        <!--end form-->
                                    <form method="GET" class="get-form ui fluid form segment" id="search_form" action="{% url 'principal:busqueda_especifica' %}">
                                        {{ form.non_field_errors }}
                                        <div class="fields">

                                            <div class="tipo-adquisicion three wide  field">
                                                {{ form.tipo_adquisicion.errors }}
                                                <label class="etiqueta" id="{{ form.tipo_adquisicion.id_for_label }}">Tipo de adquisión</label>
                                                {{ form.tipo_adquisicion }}
                                            </div>

                                            <div class="tipo-propiedad four wide  field">
                                                {{ form.tipo_propiedad.errors }}
                                                <label class="etiqueta"  id="{{ form.tipo_propiedad.id_for_label }}"> Tipo de propiedad</label>
                                                {{ form.tipo_propiedad }}
                                            </div>

                                            <div class="estado three wide  field">
                                                {{ form.estado.errors }}
                                                <label class="etiqueta"  id="{{ form.estado.id_for_label }}"> Estado </label>
                                                {{ form.estado }}
                                            </div>

                                            <div class="ubicacion four wide field">
                                                {{ form.ubicacion.errors }}
                                                <label class="etiqueta"  id="{{ form.ubicacion.id_for_label }}"> Ubicación </label>
                                                {{ form.ubicacion }}
                                            </div>

                                            <div id="search-submit-button" class="">
                                                    <button   id="s-button" class="big ui circular button" type="submit" > 
                                                    <i id="icon-s-button" class="big search icon"></i>
                                                </button>
                                            </div>

                                        </div>

                                    </form>

</section>
<script type="text/javascript">
$('.ui.dropdown')
  .dropdown()
;
  </script>

