{% extends "base.html" %}
{% load static %}
{% block head_title %}¡Bienvenidos a María José Durán! | Corretaje de Propiedades{% endblock %}

{% block head_css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/principal.min.css' %}">
{% endblock %}


{% block content%}

<section class="pagina-empresa">
	<div class="container">
		<div class="pag-content">
		<div class="pag-title"><h2 style="text-align:left !important;">{{ pagina.tipo }}{{ pagina.titulo }}</h2></div>
		<div class="pag-img col-sm-4" ><img src={{ static_media_url }}{{ pagina.imagen}} width="250px" height=auto ></div>
		<div class="pag-text col-sm-8">{{ pagina.cuerpo| safe }}</div>
		</div>
	</div>
</section>
{% endblock %}