{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

<h1>{{ vista }}</h1>
<ul>
{% for object in object_list %}
    <li>{{ object }}</li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>
