{# my_library/templates/book_list.html #}
{# omit all the additional HTML markup and leave the bare minimum #}
{# my_library/templates/snippets/pagination.html #}
{% if is_paginated %}
  <nav>

    <div class="ui pagination menu">

      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}"  class="item">
            <span>Previa</span>
          </a>
      {% else %}
          <a href="#"  class="active item">
            <span>Previa</span>
          </a>
      {% endif %}

      {% for page in paginator.page_range %}
          <a href="?page={{ page }}"  class="item">{{ page }}</a>
      {% endfor %}

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"  class="item">
            <span>Siguiente</span>
          </a>
      {% else %}
          <a href="#"  class="item">
            <span>Siguiente</span>
          </a>
      {% endif %}

</div>



  </nav>
{% endif %}