{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<p>Password change failed</p>
{% endif %}
<form method="post" action="{% url 'password_change_done' %}">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="Cambiar Password" />
</form>
{% endblock %}