.navbar {
    background-color: white;
    width: 100%;
}

div#cuerpo-central {
    text-align: center;
}
.propiedad {
    display: inline-block;
    /* width: 30%; */
    text-align: left;
    margin: .4em;
    padding: .2em;
}


div#buscador-general{
    form{
        display: inline-flex;
        float: left;
        width: 100%;

        .etiqueta{
            width: 100%;
        }
        select{
            display:inline-flex;
        }
        .ubicacion {
            .select2-container{
                width: 100%;
            }
            .select2-selection__rendered{
                width: 100%;
            }
        }
        button {
        vertical-align: middle;
        }
    }
}
.boton-contacto{
  float:right;
}

.resultados{
    .propiedades-encontradas{
        .imagen-propiedad{
            text-align: center;

            img{
                width: 90%;
                height: auto;
            }
        }
        .info{
            .footer-propiedad-encontrada{
                width: 100%;
                float: left;
                .data-propiedad{
                    width: 60%;
                    float: left;
                }
                .boton-a-propiedad{
                width: 40%;
                float: left;
            }
            }
        }
    }
}