<h1>Usuarios</h1>
<ul>
    {% for usuario in object_list %}
    <li>{{ usuario.username }} | {{ usuario.grupo }} :
    <a href="{% url "usuario_edit" pk=usuario.pk %}">Editar</a>
    <a href="{% url "usuario_delete" pk=usuario.pk %}">Borrar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "usuario_new" %}">Añadir usuario</a>