{% extends 'base.html' %}
{% load staticfiles %}

{% block head_css %}

<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block content %}
    <h2>Buscar Propiedad</h2>

    <form method="get" action="{% url 'haystack_buscar_propiedad' %}" enctype="multipart/form-data">
        <table>
            {{ form.media }}
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Buscar">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Resultados</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.nombre }}</a>
                </p>
            {% empty %}
                <p>No hay resultados</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Anterior{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Siguiente &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}

{% block footer_javascript %}
    {{ form.media }}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}