{% extends "base.html" %}
{% load static %}
{% block head_title %}María José Durán, Propiedades |  Contacto {% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'scss/contacto.css' %}">
{% endblock %}
{% block content%}
<section class="contacto">
	<div class="container">
		<div class="row">
			<div class="sombraredondeada">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
					{% if messages %}
					<ul class="messages">
					    {% for message in messages %}
					    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					    {% endfor %}
					</ul>
					{% endif %}
					<h2>Contactar con María José Durán Propiedades</h2>
					    <form method="POST" class="post-form ui form">{% csrf_token %}
					        {{ form.as_table }}
					        <button type="submit" class="save btn btn-primary">Enviar</button>
					    </form>
					</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
</section>

{% endblock %}