.map {
  width: 50%;
  height: 200px; }
  .map .geocode {
    display: none; }

.navbar {
  background-color: white;
  width: 100%; }

.imagen-propiedad #img-destacada img {
  width: 100%;
  height: auto;
  z-index: -2; }

.central-data {
  width: 100%; }
  .central-data .in-data {
    padding: 20px;
    width: 100%;
    background-color: honeydew; }

/*# sourceMappingURL=propiedad.css.map */
