{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block head_title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">


        <link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.min.css" %}">
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "semantic/semantic.min.js" %}"></script>

        {% block head_css %}

        {% endblock %}
        {% block head_javascript %}

        {% endblock %}

    </head>
    <body>


<div class="flaghome">
	<section class="base-header">
	    <header class="base-navbar">
	    	<div class="container">
	    {% block navbar %}
		    	<div class="row">
		    		<article class="base-top">
		    			<div class="row">
					    		<div class="base-logotipo">
								    {% block logo_header %}
								        <a href="{% url 'principal:home_page' %}">
								            <img class="base-logo " src="{% static 'site/logo.png' %}" alt="logo-corredora">
								        </a>
								    {% endblock %}
								 </div>

                            <div class="ui container">
                                <div class="ui five item menu">
                                     <a  href="/" class="active item base-last-properties">  Inicio</a>
                                     <a  href="/listar/propiedades" class="item base-last-properties">  Propiedades</a>                              
                                     <a  href="/pagina/mision" class="item base-mision">  Misión</a>
                                                                                         
                                     <a  href="/pagina/nuestra-historia" class="item base-historia">  Nuestra Historia</a> 

                                    <a  href="{% url 'contact_form:formulario_contacto' %}" class="item contacto">Contacto</a>


                                </div>
                            </div>

						</div>
					 </article>
				</div>
			</div>
	    </header>
	</section> 
	
	        {% block buscador %}

	        {% endblock buscador %}

	    {% endblock %}
	
</div>
    <section class="central-content">
     	{% block content %}
    	{% endblock %}
    </section>
        
<!-- /container -->

          <footer>
    {% include 'contacto.html' %}

          </footer>



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>





{% block footer_javascript %}
{% endblock %}
{% block footer_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
{% endblock %}



    </body>
</html>



