{% load static %}
<div class="ui">
<div class="data-contacto">

	<div class="ui container">
		<div class="ui stackable two column grid">

		<div id="texts-contacto" class="column">
	      <div class="nombre"><span>María José Durán Propiedades</span></div>
	      <div class="direccion"><span>José Martinez 320 of. 403</span>,<span>, Providencia</span></div>
	      <div class="telefono"><span>Teléfono: 2354317 - Fax: 2254318</span>, <span>e-mail: contacto@mjd.cl</span></div>
	      <!--<div class="web"><span>http://www.mariajoseduranpropiedades.cl</span></div>-->
	   </div>

		<div id="social-networks" class="column">

		        <button class="ui circular facebook icon button">
		          <i class="facebook icon"></i>
		        </button>
		        <button class="ui circular twitter icon button">
		          <i class="twitter icon"></i>
		        </button>
		        <button class="ui circular google plus icon button">
		          <i class="google plus icon"></i>
		        </button>
		        <button class="ui circular linkedin icon button">
		          <i class="linkedin icon"></i>
		        </button>
		</div>
	</div>

	</div>

</div>


</div>
  {% block footer_javascript %}
        {{form.media}}
{% endblock %}
