{% load staticfiles %}
{% load static %}

<h1>Páginas</h1>

<ul>
    {% for pagina in object_list %}
    <li>{{ pagina.titulo }}  :
    <a href="{% url "pagina_edit" pagina.id %}">Editar</a>
    <a href="{% url "pagina_delete" pagina.id %}">Borrar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "pagina_new" %}">Nueva Página</a>