.navbar {
  background-color: white;
  width: 100%; }

div#cuerpo-central {
  text-align: center; }

.propiedad {
  display: inline-block;
  /* width: 30%; */
  text-align: left;
  margin: .4em;
  padding: .2em; }

div#buscador-general form {
  display: inline-flex;
  float: left;
  width: 100%; }
  div#buscador-general form .etiqueta {
    width: 100%; }
  div#buscador-general form select {
    display: inline-flex; }
  div#buscador-general form .ubicacion .select2-container {
    width: 100%; }
  div#buscador-general form .ubicacion .select2-selection__rendered {
    width: 100%; }
  div#buscador-general form button {
    vertical-align: middle; }

.boton-contacto {
  float: right; }

.resultados .propiedades-encontradas .imagen-propiedad {
  text-align: center; }
  .resultados .propiedades-encontradas .imagen-propiedad img {
    width: 90%;
    height: auto; }
.resultados .propiedades-encontradas .info .footer-propiedad-encontrada {
  width: 100%;
  float: left; }
  .resultados .propiedades-encontradas .info .footer-propiedad-encontrada .data-propiedad {
    width: 60%;
    float: left; }
  .resultados .propiedades-encontradas .info .footer-propiedad-encontrada .boton-a-propiedad {
    width: 40%;
    float: left; }

/*# sourceMappingURL=principal.css.map */
