<div class="ui fluid search selection dropdown">
  <input name="{{attrs.id}}" type="hidden" id="{{attrs.id}}">
  <div class="default text">Escoge {{attrs.name}}</div>
  <i class="dropdown icon"></i>
  <div class="menu">
{% for key,value in choices %}
  <div class="item" data-value="{{key}}">{{value}}</div>
{% endfor %}
  </div>
</div>